@import "nullstyle.css";

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body{
	font-family: 'Lato', sans-serif;
}

.topic{
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
}

.title{
	line-height: 1.5;
	font-weight: 700;
	font-size: 20px;
}

.text{
	line-height: 1.6;
}

.indent{
	text-indent: 30px;
}
